body {
    background-color: #C4C4C4;
    margin: 0;
    padding: 0;
}

.title {
    color: #EB2B44;
    font-size: 48px;
    font-family: 'VALORANT';
    position: absolute;
    left: 50%;
    align-self: center;
    transform: translate(-50%,0);
    
}

.top-bar {
    width: 100%;
    height: 90px;
    background: #222222;
    display: flex;
    align-items: center;
    position: relative;
    box-sizing: border-box;
}

.logo {
    width: 59px;
    height: 59px;
    padding: 0 15px;
}

.exit-icon {
    width: 32px;
    height: 32px;
    padding: 0 15px;
    position: absolute;
    left: 96%;
    align-self: center;
    transform: translate(0,-50%);
}

.avatar-user {
    width: 52px;
    height: 52px;
    padding: 0 15px;
    border-radius: 50%;
    position: absolute;
    left: 92%;
    align-self: center;
}

.content {
    position:absolute;
    right: center;
    bottom: center;
    display: flex;
    gap: 12px;
    padding: 8px;
    text-decoration: none;
    top: 20%;
}

.times, .mvp, .sobre {
    color: white;
    font-size: 30px;
    font-family: 'VALORANT';
    text-align: center;
    text-decoration: none;
    background: #333333;
    width: 300px;
    height: 80px;
    border-radius: 7px;
    transition: background 0.2s, color 0.2s;
    display: flex;
    align-items: center;
    justify-content: center; 
    position: relative;
    left: 40%;
}

.times:hover, .mvp:hover, .sobre:hover {
    cursor: pointer;
    color: white;
    background: #EB2B44;
}

.icons{
    position:absolute;
    right: 0;
    bottom: 0;
    display: flex;
    gap: 12px;
    padding: 8px;
}

.discord-icon, .twitch-icon {
    cursor: pointer;
    width: 54px;
    height: 54px;
}

.battlefy-icon {
    cursor: pointer;
    width: 54px;
    height: 50px;
}

.ranking {
    position: absolute;
    display: flex;
    top: 40%;
    left: 50%;
    transform: translate(-50%,0);
    gap: 60px;
}

.ranking-box {
    background-color: #444;
    width: 514px;
    height: 380px;
    border-radius: 5px;
    overflow: hidden;
}

.ranking-box header {
    width: 100%;
    height: 60px;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.ranking-box header h2 {
    color: white;
    font-family: 'VALORANT';
    font-size: 30px;
}

.ranking-content {
    width: 100%;
    height: calc(100% - 60px);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box;
}

.rank {
    width: 100%;
    height: 50px;
    background-color: #333;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    padding: 0 10px;
    border-radius: 5px;
}

.rank img {
    width: 32px;
    height: 32px;
    padding-right: 20px;
}

.rank h3 {
    color: white;
    font-family: 'Poppins';
    font-size: 25px;
    font-weight: 300;
}